<% @minimum_password_length = resource_name.to_s.capitalize.constantize.password_length.min %>

<div class="grid-x grid-margin-x">
    <div class="small-4 small-offset-4 cell">
        <h1 class="text-center">Sign Up</h1>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { "data-abide": true, "novalidate": true }) do |f| %>

            <% unless resource.errors.empty? %>
                <div class="alert callout">
                    <%= devise_simple_error_messages! %>
                </div>
            <% end %>

            <div data-abide-error class="alert callout text-center" style="display: none;">
                <p><i class=""></i> There are some errors in your form.</p>
            </div>

            <!--            <label for="<%#= resource_name %>_name">-->
            <%#= f.text_field :name, autofocus: true, placeholder: "Full Name", required: "required", pattern: "text" %>
            <!--                <span class="form-error" data-form-error-for="<%#= resource_name %>_name">Your full name is required.</span>-->
            <!--            </label>-->


            <label for="<%= resource_name %>_name">
                <%= f.text_field :name, autofocus: false, placeholder: "Your Name", required: "required", pattern: "text" %>
                <span class="form-error" data-form-error-for="<%= resource_name %>_name">Your name is
                        required.</span>
            </label>


            <!--            <label for="user_name">-->
            <%#= f.text_field :name, autofocus: true, placeholder: "Full Name", required: "true", pattern: "text" %>
            <!--                <span class="form-error" data-form-error-for="user_name">Your full name is required.</span>-->
            <!--            </label>-->


            <label for="<%= resource_name %>_email">
                <%= f.email_field :email, autofocus: false, placeholder: "Email Address", required: "required", pattern: "email" %>
                <span class="form-error" data-form-error-for="<%= resource_name %>_email">Your email is required.</span>
            </label>

            <label for="<%= resource_name %>_password">
                <%= f.password_field :password, autocomplete: "off", placeholder: 'Password', required: "required", pattern: "password" %>
                <span class="form-error" data-form-error-for="<%= resource_name %>_password">Your password is required.</span>
            </label>

            <label for="<%= resource_name %>_password_confirmation">
                <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirm Password', required: "required", pattern: "password", "data-equalto": "#{ resource_name }_password",
                                     "data-validator": "min-length", "data-min-length": (@minimum_password_length || 1) %>
                <span class="form-error" data-form-error-for="<%= resource_name %>_password_confirmation">Password must match and must be at least <%= pluralize(@minimum_password_length || 1, "character") %>
                    . </span>
            </label>

            <%#= f.submit "Sign up", class: "button primary large expanded" %>
            <button class="button primary large expanded" type="submit" value="Submit">Sign up</button>

        <% end %>

        <div class="text-center">
            <%= render "devise/shared/links" %>
        </div>
    </div>
</div>
